html,body{
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    height:100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}

.patientform{
    width: 20%;
    margin:auto;
    padding:4% 5% 4% 5%;
    border:2px solid black;
    border-radius: 15px;
}

.sidenavbar{
    width:15%;
    background-color:rgb(3, 37, 70);
    color:white;
    text-align: center;
}

.main{
    width:85%;
}

.topnavbar{
    width:94%;
    padding:1% 3% 3% 3%;
    background-color:rgb(29, 166, 200);
}

/* video call*/
.video{
    width:80%;
    height:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
    margin-bottom:3%;
    background-color:black;
}

